body {
    margin: 0;
    padding: 0;
    background-image: url(homepage_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    float: left;
    display: flex;
    padding: auto;
    height: 50px;
    width: 50px;
    padding-left: 2%;
    padding-top: 10px;
}

.navbar {
    background-color: transparent; /* Transparent background with 50% opacity */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar a {
    float: right;
    display: block;
    color: #36494e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #54c4c7;
    border-radius: 50px;
}

.alerts-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.alerts-left {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-right: 5px; /* Added margin to separate from right box */
}

.alerts-left button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.alerts-left button:hover {
    background-color: #eee;
}

.separator {
    width: 5px;
    background-color: #ccc;
    margin-right: 5px; /* Space between left and right boxes */
}

.alerts-right {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: scroll;
    max-height: 500px;
}

.message-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-box h3 {
    margin: 0;
}

.message-box p {
    margin: 5px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 5px 10px;
    background-color: #54c4c7;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #36494e;
}