body {
    margin: 0;
    padding: 0;
    background-image: url(homepage_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    float: left;
    display: flex;
    padding: auto;
    height: 50px;
    width: 50px;
    padding-left: 2%;
    padding-top: 10px;
}

.navbar {
    background-color: transparent; /* Transparent background with 50% opacity */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar a {
    float: right;
    display: block;
    color: #36494e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.img{
    float: left;
    display: flex;
    padding-top: 0px;
}

.navbar a:hover {
    background-color: #54c4c7;
    border-radius: 50px;
}

.login-container {
    background-color: #c4f4fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 420px;
    height: 300px;
    float: right;
    opacity: 0.7;
}

.login-part{
    padding-top: 10%;
    padding-right: 10%;
    height: 100px;
}

.login-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #36494e;
}

.input-group {
    margin-bottom: 15px;
    width: 90%;
    color: #36494e;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #36494e;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-button {
    background-color: #54c4c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #36494e;
}